extends layout

block content
  table.table.table-striped
    thead
      tr
        th Name
        th Number
        th Email
        th
    tbody
      tr#template
        td.name
        td.number
        td.email
        td.remove  
  script(src='javascripts/contactList.js')
