extends layout

block content
  p Welcome to #{title}
  a(href='/contactform')
    button.btn.btn-info.addContacts Add Contacts
  a(href='/contactlist')
    button.btn.btn-info.showContacts Show Contacts
